.disabled {
    pointer-events:none;
    border: 1px solid #ccc;
    background: #fff;
    padding-left: .5em;
    color: #555;
}

.header-space {
    height: 20%
}

.data-input {
    width: 100%;
    padding-left: .5em;
}

.data-input-separator {
    height: 5%;
}